@font-face {
    font-family: 'kakao';
    src: url('../css/kakao_fonts/KakaoRegular.ttf');
}

.main {
    margin: auto;
    text-align: center;
    color: white;
    font-size: large;
}

.background {
    background-color: #00183C;
    min-height: 50%;
    min-width: 50%;
    height: 400px;
    width: 100%;
    display: flex;
    justify-self: center;
}

.background h1 {
    margin-top: 30px;
}

.kea {
    font-family: 'kakao';
    position: absolute;
    display: block;
    justify-self: left;
    color: #FFBF00;
    margin-left: 20px;
    margin-top: 40px;
    font-size:x-large;
}


.introduce {
    width: 100%;
    font-size: 130px;
    margin-top: 40px;
    text-align: center;
    font-style: italic;

}

.introduce h1 {
    width: 100%;
    font-size: 130px;
    margin-top: 40px;
    text-align: center;
    font-style: italic;

}

.introduce h2 {
    width: 100%;
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
    font-style: italic;

}

.introduce div {
    font-size: medium;
    margin: auto;
    max-width: fit-content;
    text-align: center;
    font-style: normal;

}

.home-card {
    width: 1000px;
    height: fit-content;
    padding: 10px;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

div.home-card-text{
    width: 50%;
    text-align: center;
    padding: 30px;
    float: right;
}

.home-card img {
    float: left;
    width: 50%;
    height: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media all and (max-width: 768px){
    .kea {
        position: relative;
    }
    .home-card img {
        width: 100%;
    }
    
    div.home-card-text {
        width: 100%;
    }
}